* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 293px;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  margin-left: 47px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 4px;
  margin-bottom: 5px;
}

.nav__list {
  display: flex;
  list-style-type: circle;
  text-transform: lowercase;
}

.nav__item {
  margin-right: 22px;
  margin-left: 5px;
}

header nav ul li:first-child {
  list-style-type: none;
}

header nav ul li a {
  color: black;
}

.btn-active {
  text-decoration: none;
}

.header__logo {
  height: 105px;
  width: 148px;
  margin-right: 175px;
  margin-bottom: 2px;
}

.header__img {
  width: 148px;
  height: 105px;
}

.header__contacts {
  width: 240px;
  height: 98px;
  margin-right: 50px;
}

.contents-line-1,
.contents-line-2,
.contents-line-3 {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  color: 000000;
}

.contacts__item1,
.contacts__item2 {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  height: 757px;
  width: 1100px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cover__title-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
  gap: 20px;
  letter-spacing: 26px;
}

.cover__title-item {
  color: white;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.cover ul li:nth-child(1) {
  text-align: left;
  margin-bottom: 48px;
}

.cover ul li:nth-child(2) {
  text-align: center;
  position: relative;
  top: -45px;
  left: 17px;
  letter-spacing: 32px;
}

.cover ul li:nth-child(3) {
  text-align: right;
  position: relative;
  top: -45px;
  left: 38px;
  letter-spacing: 32px;
}

.cover__description {
  width: 1000px;
  height: 51px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.cover__description-text {
  width: 637px;
  height: 28px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
  color: white;
  justify-content: space-between;
}

.cover__bet-button {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  color: white;
  border: 1px solid white;
  width: 256px;
  height: 51px;
  line-height: 100%;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 107px;
}

.lots {
  width: 1052px;
  height: 723px;
  margin: 0 auto;
  margin-top: 180px;
}

.lots__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots .card {
  display: inline-block;
  position: relative;
  width: 334px;
  height: 596px;
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__overlay h1 {
  font-size: 22px;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.lots__section .card h1 {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 48px 40px 0 40px;
  z-index: 2;
  text-underline-offset: 3px;
}

.lots__section .card h2 {
  display: none;
}

.lots__section .card p {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  margin: 30px 40px 48px 40px;
  z-index: 2;
}

.card__descriptionn {
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 20px;
}

.description__item1 {
  top: 274px;
}

.description__item2 {
  top: 30px;
}

.description__item3 {
  top: 126px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  margin-right: 19px;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  margin-right: 22px;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__more-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-left: 40px;
  margin-top: 28px;
  display: block;
  text-underline-offset: 4px;
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1052px;
  margin: 0 auto;
  padding-top: 120px;
  gap: 72px;
}

.about__logo-column {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: 35px;
}

.about__logo {
  width: 148px;
  height: 105px;
}

.about__content {
  max-width: 693px;
  gap: 24px;
  margin-top: 133px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__description {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 100px;
  color: #000;
}

.about__text {
  max-width: 693px;
}

.text1 {
  width: 688px;
}

.text2 {
  width: 693px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.footer {
  margin-top: 180px;
  height: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__cont {
  height: 98px;
  width: 264.57px;
  padding-left: 0px;
  display: inline-block;
  margin-right: 154.03px;
  margin-left: 50px;
}

.footer__cont a {
  display: block;
}

.cont__item1, 
.cont__item2 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  text-underline-offset: 5px;
}

.cont__item3 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  text-decoration: none;
}

.footer__menu {
  width: 164px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}

.menu__item1 {
  text-decoration: none;
}

.footer__menu__list {
  text-align: center;
  list-style: none;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 5px;
}

.footer__socialnet {
  width: 240px;
  height: 48px;
  display: flex;
  gap: 48px;
  margin-left: auto;
  margin-right: 50px;
}

.social-youtube {
  height: 48px;
}

.social-vk,
.social-pinterest {
  width: 48px;
  height: 48px;
}
