main {
  display: flex;
  flex-direction: column;
  gap: 170px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 51px 89px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
}

.header__menu-item {
  list-style: circle;
}

.header__menu-item_no-bullit {
  list-style: none;
}

.header__menu-link {
  font-size: 18px;
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
}

.header__menu-link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: inherit;
}

.header__contacts {
  justify-self: end;
  font-style: inherit;
}

.header__contacts-phone {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.header__contacts-email {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.header__contacts-address {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  position: relative;
  padding: 155px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.cover__title-list {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title-word {
  display: block;
}

.cover__title-word_center {
  line-height: 1;
  text-align: center;
}

.cover__title-word_right {
  line-height: 1;
  text-align: right;
}

.cover__title-word_spacing-extended {
  letter-spacing: 60px;
}

.cover__title-word_no-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__button {
  border: 1px #FFF solid;
  padding: 14px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.cover__button:hover {
  color: #000000;
  background-color: #FFF;
}

.lots {
  padding: 0 50px;
}

.lots__title {
  padding: 0 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
}

.lots__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: auto;
  height: 100%;
  padding: 50px 40px;
}

.lots__card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lots__card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lots__card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lots__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.lots__card-title {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lots__card-description {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
}

.lots__more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 0 50px;
}

.about__logo-column {
  justify-self: center;
}

.about__content {
  grid-column: 2/4;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__paragraph {
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts-link {
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-item {
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social {
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
}
