.header {
  display: flex;
  height: 293px;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  margin-left: 47px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 4px;
  margin-bottom: 5px;
}

.header__logo {
  height: 105px;
  width: 148px;
  margin-right: 175px;
  margin-bottom: 2px;
}

.header__contents {
  width: 240px;
  height: 98px;
  margin-right: 50px;
}

.header__contents-line {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  color: #000000;
}

.cover {
  height: 757px;
  width: 1100px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cover__description {
  width: 1000px;
  height: 51px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.lots {
  width: 1052px;
  height: 723px;
  margin: 0 auto;
  margin-top: 180px;
}

.lots__card {
  display: inline-block;
  position: relative;
  width: 334px;
  height: 596px;
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.lots__card-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1052px;
  margin: 0 auto;
  padding-top: 120px;
  gap: 72px;
}

.footer {
  margin-top: 180px;
  height: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.footer__contacts {
  height: 98px;
  width: 264.57px;
  padding-left: 0px;
  display: inline-block;
